@import "tailwindcss";

@layer utilities {
  .container {
    @apply mx-auto max-w-7xl px-10;
  }
}

@keyframes loading {
  0% {
    width: 0%;
  }
  50% {
    width: 70%;
  }
  100% {
    width: 100%;
  }
}

body {
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}
